/*---------------------------------------------------------Futurama Application Generell stil----------------------------------------------------------*/
/* Generell stil för hela sidan */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Stil för rubriker */
h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
}

/* Stil för knappar */
button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.episode-info-btn {
  padding: 10px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.episode-info-btn:hover {
  background-color: #007a5e;
}

/*---------------------------------------------------------First/Second Page Toggle-button----------------------------------------------------------*/

/* Stil för knappar i toggle-buttons */
#toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#toggle-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggle-buttons button:hover {
  background-color: #0056b3;
}

#toggle-buttons > #episodes-start {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggle-buttons > #episodes-start:hover {
  background-color: #007a5e;
}

/*---------------------------------------------------------First Page Characters----------------------------------------------------------*/

/* Stil för första sidan */
#first-page {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

/* Stil för karaktärshuvudet */
#character-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Stil för rubriken "Characters" */
#character-header h2 {
  font-size: 24px;
}

/* Stil för tabeller */
button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Stil för sista kolumnen i tabellen */
#characters-table th:last-child,
#characters-table td:last-child {
  text-align: center;
}

/*---------------------------------------------------------First Page Character Info----------------------------------------------------------*/

#character-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#character-page h2 {
  margin-bottom: 10px;
}

#character-page img {
  max-width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#character-page p {
  margin-bottom: 5px;
}

#character-page ul {
  text-align: left;
  margin-bottom: 10px;
}

#character-page button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#character-page button:hover {
  background-color: #0056b3;
}

.edit-button,
.delete-button,
.back-button {
  margin-top: 20px;
}

#character-page button.delete-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#character-page button.delete-button:hover {
  background-color: #cc0000;
}

/*---------------------------------------------------------First Page Create Characters----------------------------------------------------------*/

/* Stil för sidan för att skapa karaktärer */
#create-character-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stil för rubriken på sidan för att skapa karaktärer */
#create-character-page h2 {
  margin-bottom: 20px;
}

/* Stil för formuläret på sidan för att skapa karaktärer */
#create-character-page form {
  margin-bottom: 20px;
}

/* Stil för etiketterna i formuläret på sidan för att skapa karaktärer */
#create-character-page form label {
  margin-bottom: 5px;
}

/* Stil för inputfälten i formuläret på sidan för att skapa karaktärer */
#create-character-page form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Stil för skapaknappen på sidan för att skapa karaktärer */
#create-character-page form button.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Stil för knappen för att gå tillbaka till huvudsidan på sidan för att skapa karaktärer */
#create-character-page button.back-button {
  padding: 10px 20px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#create-character-page button.back-button:hover {
  background-color: #999;
}

/*---------------------------------------------------------First Page Update Character----------------------------------------------------------*/

#update-character-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#update-character-page h2 {
  margin-bottom: 20px;
}

#update-character-page form {
  margin-bottom: 20px;
}

#update-character-page form label {
  margin-bottom: 5px;
}

#update-character-page form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#update-character-page form button.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#update-character-page form button.submit-button:hover {
  background-color: #0056b3;
}

#update-character-page button.back-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#update-character-page button.back-button:hover {
  background-color: #007bff;
  color: #fff;
}

/*---------------------------------------------------------First Page Delete Character----------------------------------------------------------*/

#delete-character-page {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#delete-character-page h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#delete-character-page h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#delete-character-page button#delete-character-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

#delete-character-page button#delete-character-button:hover {
  background-color: #cc0000;
}

/*---------------------------------------------------------Second Page Episodes----------------------------------------------------------*/

/* Stil för andra sidan */
#second-page {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

/* Stil för episodhuvudet */
#episode-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Stil för rubriken "Episodes" */
#episode-header h2 {
  font-size: 24px;
}

/* Stil för knappen "Create new episode" */
#create-episode-btn {
  padding: 10px 20px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#create-episode-btn:hover {
  background-color: #007a5e;
}

/* Stil för tabeller */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Stil för sista kolumnen i tabellen */
#episodes-table th:last-child,
#episodes-table td:last-child {
  text-align: center;
}

/*---------------------------------------------------------Second Page Episode Info----------------------------------------------------------*/

#episode-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#episode-page h2 {
  margin-bottom: 10px;
}

#episode-page img {
  max-width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#episode-page p {
  margin-bottom: 5px;
}

#episode-page ul {
  text-align: left;
  margin-bottom: 10px;
}

#episode-page button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#episode-page button:hover {
  background-color: #007a5e;
}

.edit-button,
.delete-button,
.back-button {
  margin-top: 20px;
}

#episode-page button.delete-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#episode-page button.delete-button:hover {
  background-color: #cc0000;
}

/*---------------------------------------------------------Second Page Create Episode----------------------------------------------------------*/

/* Stil för sidan för att skapa episodes */
#create-episode-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stil för rubriken på sidan för att skapa karaktärer */
#create-episode-page h2 {
  margin-bottom: 20px;
}

/* Stil för formuläret på sidan för att skapa karaktärer */
#create-episode-page form {
  margin-bottom: 20px;
}

/* Stil för etiketterna i formuläret på sidan för att skapa karaktärer */
#create-episode-page form label {
  margin-bottom: 5px;
}

/* Stil för inputfälten i formuläret på sidan för att skapa karaktärer */
#create-episode-page form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Stil för skapaknappen på sidan för att skapa karaktärer */
#create-episode-page form button.submit-button {
  padding: 10px 20px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Stil för knappen för att gå tillbaka till huvudsidan på sidan för att skapa karaktärer */
#create-episode-page button.back-button {
  padding: 10px 20px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#create-episode-page button.back-button:hover {
  background-color: #999;
}

/*---------------------------------------------------------Second Page Update Episode----------------------------------------------------------*/

#update-episode-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#update-episode-page h2 {
  margin-bottom: 20px;
}

#update-episode-page form {
  margin-bottom: 20px;
}

#update-episode-page form label {
  margin-bottom: 5px;
}

#update-episode-page form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#update-episode-page form button.submit-button {
  padding: 10px 20px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#update-episode-page form button.submit-button:hover {
  background-color: #007a5e;
}

#update-episode-page button.back-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #00cc99;
  border: 1px solid #00cc99;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#update-episode-page button.back-button:hover {
  background-color: #00cc99;
  color: #fff;
}

/*---------------------------------------------------------Second Page Delete Episode----------------------------------------------------------*/

#delete-episode-page {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#delete-episode-page h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#delete-episode-page h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#delete-episode-page button#delete-episode-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

#delete-episode-page button#delete-episode-button:hover {
  background-color: #cc0000;
}

#delete-episode-page > #delete-episode-back-button {
  padding: 10px 20px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#delete-episode-page > #delete-episode-back-button:hover {
  background-color: #007a5e;
  color: #fff;
}

/*---------------------------------------------------------Display Page None----------------------------------------------------------*/

#create-character-page,
#update-character-page,
#delete-character-page,
#character-page,
#second-page,
#create-episode-page,
#update-episode-page,
#delete-episode-page,
#episode-page {
  display: none;
}
