@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
/*---------------------------------------------------------Futurama Application General style----------------------------------------------------------*/
/* General style for the entire page */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Style for headers */
h1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 80px;
}

/* Style for buttons */
button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Episode Info Button */
.episode-info-btn {
  padding: 10px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for Episode Info Button */
.episode-info-btn:hover {
  background-color: #007a5e;
}

/*---------------------------------------------------------First/Second Page Toggle-button----------------------------------------------------------*/

/* Style for toggle buttons */
#toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#toggle-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggle-buttons button:hover {
  background-color: #0056b3;
}

#toggle-buttons > #episodes-start {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggle-buttons > #episodes-start:hover {
  background-color: #007a5e;
}

/*---------------------------------------------------------First Page Characters----------------------------------------------------------*/

/* Style for the first page */
#first-page {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the character header */
#character-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Style for the "Characters" heading */
#character-header h2 {
  font-size: 24px;
}

/* Hover effect for buttons */
button:hover {
  background-color: #0056b3;
}

/* Style for tables */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

/* Style for the last column in the table */
#characters-table th:last-child,
#characters-table td:last-child {
  text-align: center;
}

/*---------------------------------------------------------First Page Character Info----------------------------------------------------------*/

/* Style for the character page */
#character-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the heading on the page to character info */
#character-page h2 {
  margin-bottom: 10px;
}

#character-page img {
  max-width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#character-page p {
  margin-bottom: 5px;
  font-weight: bold;
}

#character-page ul {
  text-align: left;
  margin-bottom: 10px;
}

#character-page button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#character-page button:hover {
  background-color: #0056b3;
}

.edit-button,
.delete-button,
.back-button {
  margin-top: 5px;
}

#character-page button.delete-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#character-page button.delete-button:hover {
  background-color: #cc0000;
}

/*---------------------------------------------------------First Page Create Characters----------------------------------------------------------*/

/* Style for the page to create characters */
#create-character-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the heading on the page to create characters */
#create-character-page h2 {
  margin-bottom: 20px;
}

/* Style for the form on the page to create characters */
#create-character-page form {
  margin-bottom: 20px;
}

/* Style for the labels in the form on the page to create characters */
#create-character-page form label {
  margin-bottom: 5px;
}

/* Style for the input fields in the form on the page to create characters */
#create-character-page form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the create button on the page to create characters */
#create-character-page form button.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style for the back button on the page to create characters */
#create-character-page button.back-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#create-character-page button.back-button:hover {
  background-color: #007bff;
  color: #fff;
}

/*---------------------------------------------------------First Page Update Character----------------------------------------------------------*/

/* Style for the page to update characters */
#update-character-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the heading on the page to update characters */
#update-character-page h2 {
  margin-bottom: 20px;
}

/* Style for the form on the page to update characters */
#update-character-page form {
  margin-bottom: 20px;
}

/* Style for the labels in the form on the page to update characters */
#update-character-page form label {
  margin-bottom: 5px;
}

/* Style for the input fields in the form on the page to update characters */
#update-character-page form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the submit button on the page to update characters */
#update-character-page form button.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for the submit button on the page to update characters */
#update-character-page form button.submit-button:hover {
  background-color: #0056b3;
}

/* Style for the back button on the page to update characters */
#update-character-page button.back-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for the back button on the page to update characters */
#update-character-page button.back-button:hover {
  background-color: #007bff;
  color: #fff;
}

/*---------------------------------------------------------First Page Delete Character----------------------------------------------------------*/

/* Style for the page to delete characters */
#delete-character-page {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#delete-character-page h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#delete-character-page h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#delete-character-page button#delete-character-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

#delete-character-page button#delete-character-button:hover {
  background-color: #cc0000;
}

/*---------------------------------------------------------Second Page Episodes----------------------------------------------------------*/

/* Style for the second page */
#second-page {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the episode header */
#episode-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Style for the "Episodes" heading */
#episode-header h2 {
  font-size: 24px;
}

/* Style for the "Create new episode" button */
#create-episode-btn {
  padding: 10px 20px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for the "Create new episode" button */
#create-episode-btn:hover {
  background-color: #007a5e;
}

/* Style for tables */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style for the last column in the table */
#episodes-table th:last-child,
#episodes-table td:last-child {
  text-align: center;
}

/*---------------------------------------------------------Second Page Episode Info----------------------------------------------------------*/

/* Style for the page episode info */
#episode-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#episode-page h2 {
  margin-bottom: 10px;
}

#episode-page p {
  margin-bottom: 5px;
}

#episode-page ul {
  text-align: left;
  margin-bottom: 10px;
}

#episode-page button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#episode-page button:hover {
  background-color: #007a5e;
}

#episode-page button.delete-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#episode-page button.delete-button:hover {
  background-color: #cc0000;
}

/*---------------------------------------------------------Second Page Create Episode----------------------------------------------------------*/

/* Style for the page to create episodes */
#create-episode-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the heading on the page to create episodes */
#create-episode-page h2 {
  margin-bottom: 20px;
}

/* Style for the form on the page to create episodes */
#create-episode-page form {
  margin-bottom: 20px;
}

/* Style for the labels in the form on the page to create episodes */
#create-episode-page form label {
  margin-bottom: 5px;
}

/* Style for the input fields in the form on the page to create episodes */
#create-episode-page form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the submit button on the page to create episodes */
#create-episode-page form button.submit-button {
  padding: 10px 20px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style for the back button on the page to create episodes */
#create-episode-page button.back-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #00cc99;
  border: 1px solid #00cc99;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#create-episode-page button.back-button:hover {
  background-color: #00cc99;
  color: #fff;
}

/*---------------------------------------------------------Second Page Update Episode----------------------------------------------------------*/

/* Style for the page to update episodes */
#update-episode-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#update-episode-page h2 {
  margin-bottom: 20px;
}

#update-episode-page form {
  margin-bottom: 20px;
}

#update-episode-page form label {
  margin-bottom: 5px;
}

#update-episode-page form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#update-episode-page form button.submit-button {
  padding: 10px 20px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#update-episode-page form button.submit-button:hover {
  background-color: #007a5e;
}

#update-episode-page button.back-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #00cc99;
  border: 1px solid #00cc99;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#update-episode-page button.back-button:hover {
  background-color: #00cc99;
  color: #fff;
}

/*---------------------------------------------------------Second Page Delete Episode----------------------------------------------------------*/

/* Style for the page to delete episodes */
#delete-episode-page {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#delete-episode-page h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#delete-episode-page h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#delete-episode-page button#delete-episode-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

#delete-episode-page button#delete-episode-button:hover {
  background-color: #cc0000;
}

#delete-episode-page > #delete-episode-back-button {
  padding: 10px 20px;
  background-color: #00cc99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#delete-episode-page > #delete-episode-back-button:hover {
  background-color: #007a5e;
  color: #fff;
}

/*---------------------------------------------------------Display Page None----------------------------------------------------------*/

#create-character-page,
#update-character-page,
#delete-character-page,
#character-page,
#second-page,
#create-episode-page,
#update-episode-page,
#delete-episode-page,
#episode-page {
  display: none;
}
